* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
    grid-template-columns: 300px 1fr;
    grid-auto-rows: 120px 10px 1fr 100px;
    grid-template-areas: 'myheader myheader' 'headline headline' 'myaside myarticle' 'myfooter myfooter';
}

div.headline {
    grid-area: headline;
    background-color: black;
}

aside {
    grid-area: myaside;
    font-size: 14px;
    border-right: 2px solid rgba(0, 0, 0, 0.3);
}

aside h2 {
    font-size: 1.2em;
    text-align: center;
}

main {
    grid-area: myarticle;
}

header {
    grid-area: myheader;
    text-align: center;
    background-color: #2b9;
    background-image: linear-gradient(to bottom right, #7de1ff, #2b96b6);
    text-shadow: 2px 2px 4px #000;
    color: aliceblue;
}

header span {
    display: block;
}

header > h1 {
    font-size: 4em;
    display: block;
}

.perfil {
    padding: 20px;
    text-align: center;
}

.perfil > img {
    border-radius: 50%;
    border: 2px solid #2b96b6;
    padding: 5px;
    width: 120px;
}

main h2 {
    padding-top: 20px;
    text-indent: 200px;
}

.p-first {
    padding: 60px 20px;
    text-align: justify;
    text-indent: 50px;
}

.p-first::first-letter {
    font-size: 2em;
    font-weight: bolder;
}

footer {
    grid-area: myfooter;
    padding: 30px;
    text-align: center;
    background-image: linear-gradient(to bottom right, #fff, #797979);
}

footer p {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    body {
        display: grid;
        grid-template-columns: auto;
        grid-auto-rows: auto;
        grid-template-areas: 'myheader' 'myaside' 'myarticle' 'myfooter';
    }
    

    aside {
        text-align: center;
    }

    .readline {
        height: 10px;
    }

    main h2 {
        text-align: center;
        text-indent: 0;
    }
}